{{#each jobApplications}}
<div class="job-card">
  <div class="job-card-header">
    <h2>{{jobTitle}}</h2>
    <p>Company Name: {{companyName}}</p>
    <p>Salary: {{salary}}</p>
    <p>Status: {{applicationStatus}}</p>
    <button class="editJobApplicationBtn" data-job-id="{{id}}">Edit</button>
    <button class="deleteJobApplicationBtn" data-job-id="{{id}}">Delete</button>
  </div>
</div>
{{/each}}