<div>

  <h1>Welcome, {{userData.user_name}}</h1>
</div>

<div>
  <form class="new-job-application">
    <div class="jobTitle">
      <label for="jobTitle">Job Title:</label>
      <input type="text" id="jobTitle" name="jobTitle" />
    </div>
    <div class="companyName">
      <label for="companyName">Company Name:</label>
      <input type="text" id="companyName" name="companyName" />
    </div>
    <div class="salary">
      <label for="salary">Salary:</label>
      <input type="text" type="number" id="salary" name="salary"/>
    </div>
    <div class="applicationStatus">
      <label for="applicationStatus">Application Status:</label>
      <input type="text" id="applicationStatus" name="applicationStatus" />

    </div>
    <div>
      <button id="addJob">Add Job Application</button>
    </div>
  </form>
</div>

<h3>Current Applications:</h3>
{{#if jobsArray.length}}

  {{#each jobsArray as |jobApplication|}}
    <div class="job-card">
      <div class="job-card-header">
        <h2>
          {{jobApplication.job_title}}
          <p>Company Name: {{jobApplication.company_name}}</p>
          <p>Salary: {{jobApplication.salary}}</p>
          <p>Status: {{jobApplication.application_status}}</p>
        </h2>
      </div>
    </div>
  {{/each}}
{{/if}}

<script src="./js/profile.js"></script>
