{{#each jobs as |job|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
        <img src="{{job.profilePicture}}" />
        <p>Welcome, {{job.email}}</p>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      </h2>
      <h3>My Current List of Jobs</h3>
      <ul>
        <li>
          <a href="/job/{{job.id}}">{{job.job_title}}</a>
          <!-- <p>Company Name: {{job.companyName}}</p>-->
          <p>Salary: {{job.salary}}</p>
        </li>
      </ul>
      {{!-- <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p> --}}
    </div>
    <div class="col-md-7">
      <p>
        {{job.application_status}}
      </p>
    </div>
  </div>
{{/each}}